html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr 1fr 1fr auto;
}

a {
  text-decoration: none;
}

img {
  border-radius: 10px;
}

img:hover {
  transform: scale(1.2);
  transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  overflow: hidden;
}

header {
  background: #00072b;
  padding: 1rem;
  background-image: url("https://i.imgur.com/hBgS5XGh.jpg");
  /* Parallax Effect */
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background: #00072b;
  padding: 2rem;
  text-align: center;
  color: #fe03a6;
}

body {
  font-family: calibri;
}
